.book-container{
    height: calc(100vh - 185px);
    padding: 40px;
    display: flex;
    border: 1px solid grey;
    box-shadow: 2px 2px 3px rgb(100, 100, 100);
    background-color: white;
    overflow-y: auto;

    @media screen and (max-width: 767.8px){
            flex-direction: column;
            align-items: center;
            padding: 30px;
    }
    @media screen and (max-width: 500px){
        padding: 20px;
    }
    
}

.title-h1{
    width: 100%;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--active-nav-link);

    @media screen and (max-width: 299.8px){
        font-size: 32px;
        text-align: center;
    }
}