.contact-list{
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    overflow-y: auto;

    &::-webkit-scrollbar{
        width: 8px;
        background-color: rgb(232, 232, 232);
    }
    &::-webkit-scrollbar-thumb {
        background-color:rgb(186, 186, 186);
        border-radius: 12em;
    }
}

.massage{
    height: 370px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}
